h2 {
    font-size: 60px;
    color: burlywood;
    margin: 0;
  }
  p {
    margin: 0;
  }
  img {
    width: 300pxpx;
    height: 90px;
  }
  .section {
    margin: 20px;
    border: 1px dotted black;
    width: 600px;
  
  }